[submodule "gdnative/godot-cpp"]
	path = gdnative/godot-cpp
	url = git@github.com:godotengine/godot-cpp.git
[submodule "game/Assets"]
	path = game/Assets
	url = git@github.com:AlexValder/CyberBlood-Assets.git
[submodule "game/addons"]
	path = game/addons
	url = git@github.com:AlexValder/CyberBlood-addons.git